body {
    background-color: #202024;
}

p, h1, h2, h3 {
    color: whitesmoke;
    margin-top: 32px;
    margin-left: 192px;
    margin-right: 192px;
}

h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    line-height: 1.5;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}