:root {
    background-color: #b88509;
}

div {
    border-radius: 8px;
}

body {
    margin: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.box {
    background-color: #3a4f62;
    width: 100%;
}

.small {
    height : 128px;
}

.big {
    height: 256px;
}

.inner {
    height: 100%;
}

.multiple {
    display: flex;
    width: 100%;
    gap: 16px;
}

.horizontal {
    display: inherit;
    flex-direction: row;
}

.vertical {
    display: inherit;
    flex-direction: column;
}
